tabbar tabbox {
  margin: 0;
  margin-left: -6px;
  margin-right: -6px;
  padding: 2px;
  min-height: 32px;
  background-color: #1a1a1a;
  font-family: monospace;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #9ca3af;
  border-right: 1px solid #374151;
  border-radius: 0;
}

tabbar tabbox tab:selected {
  background-color: #2d2d2d;
  color: #ffffff;
}

tabbar tabbox tab label {
  font-size: 13px;
}
